env/*
.DS_Store
__pycache__
BAK
data/*
config/mastodon-sink-s3-aws.json
notebooks/demo.ipynb
duckdb/init-s3.sql
data_tmp/*
docker-compose-orig.yml
*.flat_json
*.ndjson
MyFitbitData/*.zip
MyFitbitData/*.pdf
MyFitbitData/SimonAubury/*
OLD/*
test.sql
fitbit-analysis-GEO.ipynb
MyFitbitDataOrig/*
MyFitbitData/ExampleData/*
MyFitbitData/tcx/53379939622.tcx
MyFitbitData/tcx/54876027833.tcx
MyFitbitData/tcx/55710627066.tcx
MyFitbitData/tcx/55006425970.tcx
